.container {
    display: flex;
    flex-direction: column;
    margin: 1% 20%;
    padding: 1% 10%;
    border-right: 5px dashed var(--border-background-color);
    border-left: 5px dashed var(--border-background-color);
}

footer {
    padding-top: 75%;
    text-align: center;
}

@media (max-width: 1150px) and (min-width: 779px) {
    .container {
        margin: 1% 10%;
    }
}

@media (max-width: 778px) {
    .container {
        margin: 1% 0%;
    }
}




    
